<% config = t('configuration') %>

<%= form_tag(configuration_url, method: :patch) do |f| %>
  <% @configuration.each_section do |section| %>
    <h4><%= section.label  %></h4>
    <hr>
    <h5><%= section.description  %></h5>
    <% section.each do |item| %>
      <label><%= item.label %></label>
      <small><%= item.description %></small>
      <%= text_field_tag("configuration[#{item.name}]", item.raw_value) %>
    <% end %>
  <% end %>
  <button class="button"><%= t('links.save') %></button>
<% end %>
