<%= simple_form_for(
  householder_decorator.form_object,
  url: householder_decorator.form_url,
  html: { id: 'js-householder-form' }
) do |f| %>

  <div class="row">
    <div class="small-12 large-12 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 large-12 columns">
      <%= f.input :show, as: :radio_buttons, boolean_style: :inline %>
    </div>
    <div class="small-12 large-12 columns">
      <%= f.input :do_not_visit_date, as: :string, placeholder: t('messages.date_format_hint') %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <%= f.input :street_name, input_html: { class: 'js-street-name' } %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.input :house_number, input_html: { class: 'js-house-number' } %>
    </div>
  </div>

  <div class="row" style="display: none">
    <div class="small-12 large-3 columns">
      <a class="button js-address-lookup" href="#">
        <i class="fi-target-two"></i>
        <%= t('links.current_geolocation') %>
      </a>
    </div>
  </div>

    <%= householder_decorator.save_button %>
<% end %>

<script type="text/javascript">
  var form = new HouseholderForm(
    document.getElementById('js-householder-form'),
    navigator,
    google.maps
  );
</script>
