<% page_title 'Householders' %>
<% breadcrumbs_for @householders_decorator %>

<p>
  <strong><%= @householders_decorator.title_for(:territory) %>:</strong>
  <%= @householders_decorator.territory %>
</p>

<table>
  <thead>
    <tr>
      <th> <%= @householders_decorator.title_for(:street_name) %></th>
      <th><%= @householders_decorator.title_for(:house_number) %></th>
      <th><%= @householders_decorator.title_for(:name) %></th>
      <th class="action" colspan="">
        <%= small_button_group(@householders_decorator.new_button) %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @householders_decorator.each do |householder| %>
      <tr class="<%= householder.html_classes %>">
        <td><%= householder.street_name %></td>
        <td><%= householder.house_number %></td>
        <td><%= householder.name %></td>
        <td class="action">
          <% buttons = [
                householder.edit_button,
                householder.destroy_button
            ] %>
          <% buttons.unshift(householder.show_button) if householder.has_notes? %>
          <%= small_button_group(*buttons) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

