<% breadcrumbs_for @householders_decorator %>

<p>
  <strong>Territory:</strong>
  <%= @householders_decorator.territory %>
</p>

<table>
  <thead>
    <tr>
      <th>Street name</th>
      <th>House number</th>
      <th>Name</th>
      <th class="action" colspan="">
        <div class="small button-group">
          <%= @householders_decorator.new_button %>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @householders_decorator.each do |householder| %>
      <tr class="<%= householder.html_classes %>">
        <td><%= householder.street_name %></td>
        <td><%= householder.house_number %></td>
        <td><%= householder.name %></td>
        <td class="action">
          <div class="small button-group">
            <%= householder.show_button %>
            <%= householder.edit_button %>
            <%= householder.destroy_button %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

