<p id="notice"><%= notice %></p>

<h1>Householders</h1>

<table>
  <thead>
    <tr>
      <th>Territory</th>
      <th>Street name</th>
      <th>House number</th>
      <th>Name</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @householders_view.each do |householder| %>
      <tr>
        <td><%= householder.territory %></td>
        <td><%= householder.street_name %></td>
        <td><%= householder.house_number %></td>
        <td><%= householder.name %></td>
        <td><%= householder.show %></td>
        <td><%= link_to 'Show', householder.url %></td>
        <td><%= link_to 'Edit', householder.edit_url %></td>
        <td><%= link_to 'Destroy', householder.url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Householder', @householders_view.new_url %>
