<% page_title t('titles.householders') %>
<% breadcrumbs_for @householders_decorator %>

<p>
  <strong><%= @householders_decorator.title_for(:territory) %>:</strong>
  <%= @householders_decorator.territory %>
</p>

<%= render partial: 'map_button', locals: { addresses: @householders_decorator.names_and_addresses } %>
<%= render partial: 'map' %>

<a href="<%= @householders_decorator.new_url %>" class="button expanded">
  <i class="fi-plus"></i>
  <%= t('links.new') %>
</a>

<div class="articles">
  <% @householders_decorator.each do |householder| %>
    <div class="row <%= householder.html_classes %>">
      <div class="small-12 large-3 columns">
        <div class="field-explanation"> <%= @householders_decorator.title_for(:address) %></div>
        <span class="field-value">
          <%= householder.address %>
        </span>
      </div>
      <div class="small-12 large-3 columns">
        <div class="field-explanation"> <%= @householders_decorator.title_for(:name) %></div>
        <span class="field-value">
          <%= householder.name %>
        </span>
      </div>
      <div class="small-12 large-3 columns">
        <% if householder.do_not_visit_date %>
          <div class="field-explanation"> <%= @householders_decorator.title_for(:do_not_visit_date) %></div>
          <span class="field-value">
            <%= householder.do_not_visit_date %>
          </span>
        <% end %>
      </div>
      <div class="small-12 large-3 columns action">
        <% buttons = [
          householder.show_button,
          householder.edit_button,
          householder.destroy_button
        ] %>
        <%= small_button_group(*buttons) %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
