<p id="notice"><%= notice %></p>

<p>
  <strong>Territory:</strong>
  <%= @householder_view.territory %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @householder_view.street_name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @householder_view.house_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @householder_view.name %>
</p>

<p>
  <strong>Show:</strong>
  <%= @householder_view.show %>
</p>

<%= link_to 'Edit', @householder_view.edit_url %> |
<%= link_to 'Back', @householder_view.index_url %>
