<% breadcrumbs_for @householder_decorator %>

<p>
  <strong>Territory:</strong>
  <%= @householder_decorator.territory %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @householder_decorator.street_name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @householder_decorator.house_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @householder_decorator.name %>
</p>

<p>
  <strong>Show:</strong>
  <%= @householder_decorator.show %>
</p>

<%= link_to 'Edit', @householder_decorator.edit_url %> |
<%= link_to 'Back', @householder_decorator.index_url %>
