<% breadcrumbs_for @householder_decorator %>

<div class="<%= @householder_decorator.html_classes %> media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <%= image_tag('avatar.png') %>
    </div>

    <%= button_group(
      @householder_decorator.edit_button,
      @householder_decorator.cancel_button
    ) %>
  </div>
  <div class="media-object-section">
    <h4> <%= @householder_decorator.name %></h4>
    <p> <%= @householder_decorator.address %></p>
    <p> <%= @householder_decorator.notes %></p>
    <p>
      <strong><%= @householder_decorator.title_for(:show) %>:</strong>
      <%= @householder_decorator.show? %>
    </p>
  </div>
</div>

<%= render partial: 'map_button', locals: { addresses: HouseholdersDecorator.new([@householder_decorator]).names_and_addresses } %>
<%= render partial: 'map' %>
