<% breadcrumbs_for @householder_decorator %>

<p>
  <strong><%= @householder_decorator.title_for(:territory) %>:</strong>
  <%= @householder_decorator.territory %>
</p>

<p>
  <strong><%= @householder_decorator.title_for(:street_name) %>:</strong>
  <%= @householder_decorator.street_name %>
</p>

<p>
  <strong><%= @householder_decorator.title_for(:house_number) %>:</strong>
  <%= @householder_decorator.house_number %>
</p>

<p>
  <strong><%= @householder_decorator.title_for(:name) %>:</strong>
  <%= @householder_decorator.name %>
</p>

<p>
  <strong><%= @householder_decorator.title_for(:show) %>:</strong>
  <%= @householder_decorator.show? %>
</p>

<%= button_group(
  @householder_decorator.edit_button,
  @householder_decorator.cancel_button
) %>
