<% householder = HouseholderDecorator.new(Householder.new) %>

<img
width="100%"
src="https://image.maps.cit.api.here.com/mia/1.6/route?r0=52.5338,13.2966,52.538361,13.325329,52.540867,13.262444,52.536691,13.264561,52.529172,13.268337,52.528337,13.273144,52.52583,13.27898,52.518728,13.279667&m0=52.5338%2C13.2966%2C52.538361%2C13.325329&m1=52.540867%2C13.262444%2C52.518728%2C13.279667&lc0=00ff00&sc0=000000&lw0=6&lc1=ff0000&sc1=0000ff&lw1=3&w=2048&h=2048&app_id=8WUzpwpuWJa7qfsxgz7k&app_code=VmqCt7ujz2YZzNAZA0oi8A" 
alt="Map Image" />
<%= page_break %>

<% if territory.mapped? %>
  <img src="<%= google_maps.image_url(territory, params) %>" alt="Map Image">
  <%= page_break %>
<% end %>


<table id="householders-table">
  <thead>
    <tr>
      <th rowspan="2" class="territory-name"><%= territory.name %></th>
      <th>Responsável</th>
      <th>Designado em</th>
      <th>Data de Retorno:</th>
      <th>Moradores</th>
    </tr>
    <tr>
      <td class="text-center"><%= territory.current_assignee_name %></td>
      <td class="text-center"><%= territory.assigned_at %></td>
      <td class="text-center"><%= territory.return_date %></td>
      <th><%= territory.number_of_householders %></th>
    </tr>
    <tr>
      <td class="no-border" colspan="5"></td>
    </tr>
    <tr>
      <th colspan="2"><%= householder.title_for(:address) %></th>
      <th><%= householder.title_for(:house_number) %></th>
      <th><%= householder.title_for(:name) %></th>
      <th><%= householder.title_for(:do_not_visit_date) %></th>
    </tr>
  </thead>
  <tbody>
    <% territory.householders.each_with_index do |householder, index| %>
      <tr class="<%= householder.html_classes %> <%= odd_or_even(index) %>">
        <td colspan="2"><%= householder.normalized_street_name %></td>
        <td class="text-center"><%= householder.house_number %></td>
        <td><%= householder.name %></td>
        <td><%= householder.do_not_visit_date %></td>
      </tr>
    <% end %>
    <% expand_to(42, territory.householders.count).each do |index|  %>
      <tr class="<%= odd_or_even(index + 1) %>">
        <td colspan="2">&nbsp;</td>
        <td class="text-center">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>
