<% page_title t('titles.territories') %>
<% breadcrumbs_for @territories_decorator %>

<table>
  <thead>
    <tr>
      <th><%= @territories_decorator.title_for(:name) %></th>
      <th><%= @territories_decorator.title_for(:number_of_householders) %></th>
      <th class="action" colspan="">
        <%= small_button_group(@territories_decorator.new_button) %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @territories_decorator.each do |territory| %>
      <tr>
        <td><%= territory.name %></td>
        <td><%= territory.number_of_householders %></td>
        <td class="action">
          <%= small_button_group(
              territory.householders_button,
              territory.show_button,
              territory.edit_button,
              territory.destroy_button
            )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
