<% breadcrumbs_for @territories_decorator %>

<p id="notice"><%= notice %></p>

<h1>Territories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="action" colspan="4">
        <%= link_to 'New Territory', @territories_decorator.new_url %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @territories_decorator.each do |territory| %>
      <tr>
        <td><%= territory.name %></td>
        <td><%= territory.description %></td>
        <td><%= link_to 'Householders', territory.householders_url %></td>
        <td><%= link_to 'Show', territory.url %></td>
        <td><%= link_to 'Edit', territory.edit_url %></td>
        <td><%= link_to 'Destroy', territory.url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
