<% breadcrumbs_for @territories_decorator %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="action" colspan="">
        <div class="small button-group">
          <%= @territories_decorator.new_button %>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @territories_decorator.each do |territory| %>
      <tr>
        <td><%= territory.name %></td>
        <td class="action">
          <div class="small button-group">
            <%= territory.householders_button %>
            <%= territory.show_button %>
            <%= territory.edit_button %>
            <%= territory.destroy_button %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
