<% page_title t('titles.territories') %>
<% breadcrumbs_for @territories_decorator %>
<%= render partial: 'application/territory_filter' %>

<%= small_button_group(@territories_decorator.new_button) %>

<% @territories_decorator.each do |territory| %>
  <article class="row <%= territory.html_classes %> territory">
    <div class="small-10 columns large-6">
      <strong><%= territory.name %></strong>
      <small>(<%= territory.number_of_householders %>)</small>
    </div>
    <div class="small-10 large-3 columns"><%= territory.current_assignee_name %></div>
    <div class="small-10 large-2 columns date"><%= territory.return_date %></div>
    <div class="small-2 large-1  columns"> <%= small_button_group(territory.show_button) %> </div>
  </article>
<% end %>

