<% breadcrumbs_for @territory_decorator %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @territory_decorator.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @territory_decorator.description %>
</p>

<%= link_to 'Territories', @territory_decorator.householders_url %> |
<%= link_to 'Edit', @territory_decorator.edit_url %> |
<%= link_to 'Back', @territory_decorator.index_url %>
