<% breadcrumbs_for @territory_decorator %>

<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <%= image_tag('territory2.png') %>
    </div>


  </div>
  <div class="media-object-section">
    <h4> <%= @territory_decorator.name %></h4>
    <p> <%= @territory_decorator.description %> </p>
    <p><%= @territory_decorator.title_for(:number_of_householders) %>: <%= @territory_decorator.number_of_householders %></p>
    <p><%= @territory_decorator.title_for(:current_assignee) %>: <%= @territory_decorator.current_assignee_name %></p>
    <p><%= @territory_decorator.title_for(:return_date) %>: <%= @territory_decorator.return_date %></p>
  </div>

  <div class="media-object-section"></div>
</div>

<div>
  <%= @territory_decorator.return_button %>
</div>

<div>
  <%= @territory_decorator.assign_button %>
</div>

<div>
  <%= @territory_decorator.householders_button %>
</div>

<div>
<%= @territory_decorator.edit_button %>
</div>

<div>
  <%= @territory_decorator.destroy_button %>
</div>

<div>
  <%= @territory_decorator.cancel_button %>
</div>


<%= render partial: 'map', locals: { addresses: @territory_decorator.names_and_addresses } %>
