<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @territory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @territory.description %>
</p>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
