<% breadcrumbs_for @territory_decorator %>

<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <h2> <%= @territory_decorator.name %></h2>
    <p> <%= @territory_decorator.description %> </p>
    <p><%= @territory_decorator.title_for(:city) %>: <%= @territory_decorator.city %></p>
    <p><%= @territory_decorator.title_for(:number_of_householders) %>: <%= @territory_decorator.number_of_householders %></p>
    <p><%= @territory_decorator.title_for(:current_assignee) %>: <%= @territory_decorator.current_assignee_name %></p>
    <p><%= @territory_decorator.title_for(:return_date) %>: <%= @territory_decorator.return_date %></p>

    <h3>Histórico</h3>
    <% @territory_decorator.assignments.each do |assignment| %>
      <%= render partial: 'territories/assignment_item', locals: { assignment: assignment } %>
    <% end %>

    <%= render partial: 'map' %>
  </div>


  <div class="large-4 medium-4 small-12 columns right" data-sticky-container>
    <div class="sticky" data-sticky data-top-anchor="top_bar:bottom">
      <a class="button expanded"
        href="<%= @territory_decorator.return_url %>"
        data-method="delete"
        data-confirm="<%= t('confirm_territory_return', territory: @territory_decorator.name) %>">
        <i class="fi-refresh"></i>
        <%= t('titles.return_territory') %>
      </a>

      <a class="button expanded" href="<%= @territory_decorator.assign_url %>">
        <i class="fi-arrow-up"></i>
        <%= t('titles.assign_territory') %>
      </a>

      <a class="button expanded" href="<%= @territory_decorator.householders_url %>">
        <i class="fi-torsos-all"></i>
        <%= t('titles.householders') %>
      </a>

      <a class="button expanded" href="<%= @territory_decorator.url %>.pdf">
        <i class="fi-page-export-pdf"></i>
        <%= t('links.download_as_pdf') %>
      </a>

      <a class="button expanded" href="<%= @territory_decorator.edit_url %>">
        <i class="fi-pencil"></i>
        <%= t('links.edit') %>
      </a>

      <a class="button expanded"
        href="<%= @territory_decorator.url %>"
        data-method="delete"
        data-confirm="<%= t('confirm_territory_destroy', territory: @territory_decorator.name) %>">
        <i class="fi-x"></i>
        <%= t('links.destroy') %>
      </a>

      <a class="button expanded" href="<%= @territory_decorator.index_url %>">
        <i class="fi-arrow-left"></i>
        <%= t('links.back') %>
      </a>

      <%= render partial: 'map_button', locals: { addresses: @territory_decorator.names_and_addresses } %>
    </div>
  </div>
</div>
