<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @territory_view.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @territory_view.description %>
</p>

<%= link_to 'Edit', @territory_view.edit_url %> |
<%= link_to 'Back', @territory_view.index_url %>
