<div id="js_filter" style="display: none">
  <%= form_tag(nil, method: :get) do  %>
    <fieldset class="row">
      <legend>Filtro</legend>
      <div class="small-12 large-12 columns">
      <label>
        <%= check_box_tag(:pending_return, 1, params[:pending_return]) %>
        <%= t('fields.pending_return') %>
      </label>

      <label>
        <%= t('fields.assigned_to') %>
        <%= select_tag(
          'assigned_to_ids[]',
          options_for_select(
            Publisher.sorted.map { |p| [p.name, p.id] },
            params[:assigned_to_ids]
          ),
          multiple: true
        ) %>
      </label>

      <button class="button expanded">
        <i class="fi-filter"></i>
        <%= t('links.filter') %>
      </button>


      <a href="javascript:toggle(['#js_filter', '#js_show_filter'])" class="button expanded">
        <i class="fi-filter"></i>
        <%= t('links.hide_filter') %>
      </a>

      </div>
    </fieldset>
  <% end %>
</div>

<a class="button expanded" id="js_show_filter" href="javascript:toggle(['#js_filter', '#js_show_filter'])">
  <i class="fi-filter"></i>
  <%= t('links.show_filter') %>
</a>
