<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= t('titles.field_service') %></li>
      <li><%= link_to t('titles.territories'), territories_path %></li>
      <li><%= link_to t('titles.publishers'), publishers_path %></li>
      <li><%= link_to t('links.logout'), sign_out_path, method: :delete %> </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" disabled="disabled" placeholder="<%= t('titles.search') %>"></li>
      <li><button type="button" class="button"><%= t('titles.search') %></button></li>
    </ul>
  </div>
</div>
