<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : t('titles.field_service') %></title>

    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render partial: 'top_menu' %>

    <div id="main-container">
      <%= content_for(:breadcrumbs) %>
      <%= render partial: 'flash_messages' %>
      <%= yield %>
    </div>

  </body>
</html>
