<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : t('titles.field_service') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <% key = 'AIzaSyCMFbHjf-I2rApFaatnmukLyfb1VIB8Jhk' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= key %>"></script>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    <%= render partial: 'top_menu' %>

    <div class="dev-only warning callout text-center">
      <p> <%= t('messages.dev_env_warning') %></p>
    </div>

    <div id="main-container">
      <%= content_for(:breadcrumbs) %>
      <%= render partial: 'flash_messages' %>
      <%= yield %>
    </div>

  </body>
</html>
