<!DOCTYPE html>
<html>
  <head>
    <title>Map - <%= params[:territory_slug] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= javascript_include_tag "google_maps" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var Icons = {
        pin: "<%= image_url('map_pin.png') %>",
        flag: "<%= image_url('flag.png') %>",
        sheep1: "<%= image_url('sheep1.png') %>",
        sheep2: "<%= image_url('sheep2.png') %>",
        sheep3: "<%= image_url('sheep3.png') %>",
      };

      Icons.mapPin = Icons.pin;

      <% if params[:icon] %>
        Icons.mapPin = Icons["<%= params[:icon] %>"];
      <% end %>
    </script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto,Arial,sans-serif';
      }

      h1 {
        font-size: 13pt;
        text-align: center;
        width: auto;
        margin: 0;
      }

      .topParButtons {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .topParButtons a, a {
        color: white;
        text-decoration: none;
        margin-top: 5px;
      }

      #header {
        padding: none;
        margin: none;
        background: rgb(74, 109, 167);
        padding: 10px;;
      }

    </style>
  </head>
  <body>

    <div id="header">
      <a href=" <%= urls.territory_path(@territory) %>">
        <h1 id="title"><%= @territory.name %></h1>
      </a>
    </div>

    <%= content_for(:header) if content_for?(:header) %>
    <%= yield %>
    <div id="map"></div>
    <%= content_for(:scripts) %>
  </body>
</html>
